main{
    background-image: url(src/image_1.png);
    background-size: cover;
    height: 850px;
    width: 1570px;
}
p{
    padding: 10px ;
    font-size:30px;
}
button{
    height: 100px;
    width: 450px; 
    background-color: white;

}
.button1{
    
}
.text2{
    
   text-align: left;
   
  
}
.center{
    
    text-align:center;
    
    margin-top: 1px;
}
.pagetwo{
    display: none;
    background: #E58716;
    width: 100%;
}
.img2{
   float:right;
   width: 67%;
   height: 70%;
   margin-top: 50px;
  }
.obshii_text{
    float:left;
    width: 30%;
    padding-left: 7px;   
}
.pageone{
    display: flex;
}
header{
    display: flex;
   vertical-align: center;
}
#logo{
    width: 350px;
    height: 80px;
}